@{
    ViewBag.Title = "Ogrenci/Ogretmen Giriş Paneli";
}

<div class="jumbotron">
    <h1>Ogrenci/Ogretmen Giriş Paneli</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("OgrenciGirişi", "OgrenciGirisYap", "Güvenlik")</h2>
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("OgretmenGirişi", "GirisYap", "Güvenlik")</h2>
        <p></p>
    </div>
  
</div>
